# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env
.env.*

# Virtual environments
venv/
.venv/
env/
ENV/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# pytest cache
.pytest_cache/
.cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Unit test / test output
test-results/
junit*.xml

# Logs and local dev stuff
*.log
logs/
*.sqlite3

# Docker artifacts
*.pid
docker-compose.override.yml

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# Redis dump files (if locally testing)
*.rdb

# System-specific
.DS_Store
Thumbs.db
